<h1>Last 10 recent tweets about:</h1>
<h1><%= @topic.hashtag %></h1>

<div class = "board">

  <% @response["data"].each do |tweet| %>
  <div class = "tweets">
    
      <%= tweet["text"] %>
    
    </div>
  <% end %>

</div>

<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>

